.main{
  margin-top: 56px;
}

.table {
  font-size: 13px;
  border: 1px solid #dee2e7;

}

.editable {
  padding: 10px;
}

.filters {
  background-color: white;
   margin-top: 66px;
}

.success{
  border: 2px solid #07f707;
}

.danger{
  border: 2px solid #ff002f;
}