<% if flash[:alert].present? %>
	<div class="row alert alert-danger">
	    <%= flash[:alert] %>
	</div>
<% end %>
<% if flash[:notice].present? %>
	<div class="row alert alert-success">
	    <%= flash[:notice] %>
	</div>
<% end %>

<div class="alert alert-danger row" id="progress-message" style="display: none;"></div>